<div class="card-bg" *ngIf="contact">
    <div class="info-bg">
        <div class="icons-wraper">
            <div></div>
            <div class="name">
                <img src="/assets/svg/avata-contact.svg" class="avatar">
                <div>
                    <p>{{ contact.name }}</p>
                    <img src="/assets/svg/trash.svg" *ngIf="contact.deleted_at === null" (click)="deleteContact(contact.id)">
                </div>
            </div>
            <div class="icons-data" (click)="deselectContact()">
                <img src="/assets/svg/close.svg">
            </div>
        </div>
        
        <div class="contact-data">
            <div class="phone">
                <p>Celular</p>
                <p class="data">{{ contact.phone }}</p>
            </div>
            <div class="email">
                <p>E-mail</p>
                <p class="data">{{ contact.email }}</p>
            </div>
            <div class="notes">
                <p>Descrição</p>
                <p class="data">{{ contact.notes }}</p>
            </div>
        </div>
    </div>
</div>

<p *ngIf="!contact">Nenhum contato selecionado.</p>
